<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
  </head>
  <body>
    <div ng-view></div>
    <script src="/assets/javascripts/app.js"></script>
    <script src="/assets/javascripts/controllers.js"></script>
  </body>
</html>
