<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ユーザー登録</title>
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/es5-shim.min.js"></script>
    <script src="/assets/javascripts/json3.min.js"></script>
    <script>
        document.createElement('alert');
        document.createElement('footer');
        document.createElement('nav');
      </script>
    <![endif]-->
    <link rel="stylesheet" href="/assets/stylesheets/bundle.css">    
  </head>
  <body>
    <!--[if lt IE 8]>
      <p style="padding-top: 50px;">
        <strong>
          本システムではご利用のブラウザはサポートされていません。<a href="https://www.google.co.jp/chrome/browser/desktop/index.html">Google Chrome</a>、<a href="https://www.mozilla.org/ja/firefox/desktop/">Firefox</a>、IE8以上のいずれかをご利用ください。<br/>
          よりよいユーザ体験のためには Chrome または Firefox のご利用をおすすめします。
        </strong>
      </p>
    <![endif]-->

  	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">Example of app that invited users to sign up</p>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="messages-container">
        <div ng-controller="MessageController">
          <alert ng-show="alerts" type="danger" close="closeAlert()">
          <ul>
            <li ng-repeat="alert in alerts">{{alert}}</li>
          </ul>
          </alert>
          <alert ng-show="messages" type="success" close="closeMessage()">
          <ul>
            <li ng-repeat="message in messages">{{message}}</li>
          </ul>
          </alert>
        </div>
      </div>

    	<div ng-view></div>
    </div><!-- /.container -->

    <script src="/assets/javascripts/bundle.js"></script>    
  </body>
</html>
