body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.messages-container {
  padding: 30px 100px;
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 40px;
}
.footer-links {
  list-style: outside none none;
  margin: 0;
}
.footer-links li {
  display: inline-block;
  line-height: 16px;
  margin-left: 10px;
}

.form-signup {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;
}
